.App {
  text-align: center;
}

header {
  background-color: #be4adb;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #be4adb;
  border-radius: 50%;
  display: inline-block;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
}
